.App {
    margin: 2%;
}

.chart-1 {
    width: 100%;
    max-width: 500px;
}

#transactionHistory {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th, tr {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    text-align: center;
}
